@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --color-background: #ebede8;
  --color-text-primary: #1a1d16;
  --color-primary-button: #8a8eb2;
  --color-secondary-background: #fefcfb;
  --color-secondary-button: #D9D9D9;
  --color-accent: #9cd090;
  /* https://realtimecolors.com/?colors=1a1d16-ebede8-545355-f2f4f1-9cd090 */
}


:root.dark {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    /* TODO: listen to https://tailwindcss.com/docs/customizing-colors#using-css-variables */
    --color-background: #141111;
    --color-text-primary: #c2cccc;
    --color-primary-button: #70738f;
    --color-secondary-background: #2c2723;
    --color-secondary-button: #58585e;
    --color-accent: #88b67e;
    /* https://realtimecolors.com/?colors=c2cccc-15110f-70738f-1e1815-9cd090 */
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50 opacity-100;
}

body {
  @apply transition-[background-color] duration-200;
  color: var(--color-text-primary);
  background: var(--color-background);
}

@layer base{
  body{
      color: var(--color-text-primary);
  }
}